body {
  background-color: #003DB4;
}

nav {
  background-color: #6C615F;
  padding: 10px;
  display: flex; /* Set the navigation bar to be a flex container */
  justify-content: space-between; /* Distribute items evenly within the container */
}

nav ul {
  list-style: none;
  display: flex; /* Make the list items display as flex items */
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #87ABFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
}

nav a:hover {
  background-color: white;
}
